<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-sm-12 col-md-6 mb-5">
        <div class="card">
          <%= link_to recipe_path(recipe.id) do %>
            <%= image_tag recipe.photo_url, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted"><%= recipe.chef_name %></h6>
            <%= link_to recipe_path(recipe.id), :class => "card-title card-link text-body" do %>
              <h5><%= recipe.title %></h5>
            <% end %>
            <div>
              <%= render(partial: "tags", collection: recipe.tags, as: :item) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


